<!DOCTYPE html>
<html>
<!--HTML for Download-->

<head>
    <title>Download</title>
    <link rel="icon" href="pics/icon.png">
    <link href="styles/downloadDesign.css" type="text/css" rel="stylesheet" />
    <link href="styles/generalDesign.css" type="text/css" rel="stylesheet" />
</head>

<body class="bg">
    <!--Header bar section-->
    <header class="headerBar">
        <img src="pics/skull.png" class="icon">
        <h1>DOWNLOAD</h1>
        <img src="pics/menu.png" class="icon" id="menuBar" onclick="navigationBar()">
    </header>
    <!--Navigation options section-->
    <div id="menuOptions" onclick="redirectPage(event)">
        <ul>
            <li id="menuHome">HOME</li>
            <li id="menuCollection">COLLECTION</li>
            <li id="menuAbout">ABOUT</li>
            <li id="menuNews">NEWS</li>
        </ul>
    </div>
    <!--Place information acquired from database and display it-->
    <div id="aboutGame">
        <img src="<%-result[0].profile%>" id="profile">
        <div>
            <h2>
                <%- result[0].title%> by
                    <%- result[0].creator%>
            </h2>
            <p>
                <%- result[0].summary%>
            </p>
            <p id="dllink"><a href="<%- result[0].links%>">Download</a></p>
        </div>
    </div>
    <p class="tagline">fear shows true creativity</p>
    <script src="/scripts/rpgjs.js" type="text/javascript"></script>
</body>

</html>